*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    cursor: url('assets/cursors/pointer-finger.png'), pointer;
}
a, button{
    cursor: url('assets/cursors/open-hand.png'), grab;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 231, 64);
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
/*title font*/
@font-face {
    font-family: 'SpongebobFont';
    src: url('assets/fonts/spongebob.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*message board font*/
@font-face {
    font-family: 'Tiny5';
    src: url('assets/fonts/Tiny5-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.start-screen{
    background-color: black;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
.start-screen-image{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: auto;
    z-index: 0;
}
.titles {
    z-index: 11;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'SpongebobFont', sans-serif;
    color: orange;
}
.titles h1{
    padding: 20px;
    font-size: 86px;
    -webkit-text-stroke: 2px black;
    width: min-content;

}
.titles h2{
    min-width: max-content;
    -webkit-text-stroke: 1.25px black;
    font-size: 36px;
}

.play-image{
    width: 175px;
}
.hidden{
    display: none;
}
.footer{
    background-color: black;
    position: fixed;
    padding: 12px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 10;
    
}
.footer > *{
    color: white;
}
.github-logo{
    width: 18px;
    height: auto;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.play-button{
    background-color: transparent;
    border: transparent;
    display: inline-block;
    visibility: visible;
    position: relative;
    z-index: 9999;
}
.hidden{
    display: none;
}

.console-container{
    font-family: "Tiny5",sans-serif;
    position: relative;
    width: 864px;;
    height: 504px;
    flex-grow: 0;
}

.console-image{
    width: 100%;
    height: 100%;
}

.console-screen{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 41%;
}
.console-message-board{
    position: absolute;
    top: 70%;
    left: 49.8%;
    height: 16%;
    width: 41.5%;
    transform: translate(-50%, -50%);
    background-color: rgb(45, 45, 45);
    border: 3px solid black;
    color: rgb(180, 180, 180);
    padding: 1% 1% 1% 2%;
    white-space: pre-line;
}

.control-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    color: white;
    width: 4%; 
    height: 6.5%;
}
.button-sound{
    top: 29%;
    right: 9.5%;
}
.button-sound img{
    width: 50%;
    height: auto;
}
.button-info{
    top: 39.5%;
    right: 17.60%;
}
.button-power{
    bottom: 29%;
    left: 17.60%;
}
.button-restart{
    bottom: 19%;
    left: 17.60%;
}
button{
    background-color: transparent;
    border: none;
    border-radius: 10%;
    border-right: 2px groove gray;
    border-bottom: 2px groove gray;
}
.dpad-button{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: black;
    position: absolute;
    width: 5%;
    height: auto;
    & > img{
        width: 100%;
        height: 100%;
    }
}
.button-character{
    left: 17.60%;
    top: 36%;
}

.button-rope{
    left: 13.25%;
    top: 29%;
}

.button-spatula{
    left: 9%;
    top: 36%;
}

.button-jellyfish{
    left: 13.25%;
    top: 43%;
}

.score{
    position: absolute;
    border: 3px solid black;
    background-color: orange;
    width: 4%;
    height: 7%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.score-user{
    left: 30%;
    bottom: 39%;
}
.score-computer{
    right: 30%;
    bottom: 39%;
}

.user-character{
    position: absolute;
    width: 8%;
    height: auto;
    left: 36%;
    bottom: 40%;
}

.computer-character{
    position: absolute;
    right: 35%;
    bottom: 42%;
    width: 7%;
    height: auto;
}

button:disabled {
    cursor: not-allowed; /* Kullanıcı butonun kapalı olduğunu anlasın */
}

#continue{
    width: 5%;
    height: 10%;
    position: absolute;
    bottom: 26%;
    right: 24%;
    background-color: black;
    color: white;
    border-radius: 10%;
    & > img{
        width: 75%;
        height: auto;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.6);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(255, 255, 0, 1);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.6);
    }
}

.highlight {
    animation: pulse 1s infinite ease-in-out;
    border: 3px solid yellow;
    border-radius: 10px;
}
